// Variables
$primary-color: #7e3434;
$secondary-color: #1a1919;
$secondary-color-opac: rgba(26, 25, 25, 0.384);
$tercetary-color: #d68910;
$cuartery-color: #1B7484;
$cuartery-color-opac: rgba(48, 80, 80, 0.545);
$text-color: #333;
$text-color-alternative: #e7e7e7;
$font-stack: "mestiza-sans", sans-serif;

body {
  font-family: $font-stack;
  color: $text-color;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 4.2rem;
  }
}

h1,
h2,
h2,
h4 {
  font-family: "mestiza-sans", sans-serif;
}

/* estilo lead de bootstrap */
p {
  font-size: 2rem;
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.background_header {
  background-image: url("../../../public/images/background.bmp");
  background-repeat: no-repeat;
  background-position: center;

  /* padding: 3em; */
}

#header {
  background-color: #fff;
  text-align: center;

  .front_header {
    background-color: $cuartery-color-opac;
    display: block;
    color: $text-color-alternative;
    padding: 5em 0;

    p {
      font-size: 1.4rem;
    }

    .cta-button {
      background-color: $secondary-color-opac;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $cuartery-color-opac;
      }

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

nav {
  width: 100%;
  background-color: $cuartery-color;
  text-align: center;

  .navbar {
    padding: 0;
    margin: 0;
  }

  .navbar-toggler {
    border: none;
    color: $text-color;

    .navbar-toggler-icon {
      color: $text-color;
    }
  }

  .navbar-nav {
    .nav-item {
      margin: 0 10px;

      .dropdown-menu {
        padding: 0;

        .dropdown-item {
          padding: 10px 15px;
          color: #1B7484;

          &:hover {
            background-color: $cuartery-color;
            color: #fff;
          }
        }
      }

      .nav-link {
        font-size: 1rem;
        color: #fff;

        &:hover {
          color: #fff;
          transition: .3s all ease-in-out;
          font-weight: 600;
        }
      }
    }

  }
}

a {
  color: $text-color;
}

section {
  padding: 60px 20px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
    color: $cuartery-color;
    font-size: 4em;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  #desarrolloweb {
    background-color: #fff;
  }

  #gestion,
  .gestion {
    background: rgb(184, 131, 170);
    background: -moz-linear-gradient(172deg,
        rgba(184, 131, 170, 1) 44%,
        rgba(113, 75, 103, 1) 100%);
    background: -webkit-linear-gradient(172deg,
        rgba(184, 131, 170, 1) 44%,
        rgba(113, 75, 103, 1) 100%);
    background: linear-gradient(172deg,
        rgba(184, 131, 170, 1) 44%,
        rgba(113, 75, 103, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b883aa", endColorstr="#714b67", GradientType=1);
  }

  .service-grid,
  .portfolio-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .service,
    .project {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #f9f9f9;
      padding: 30px 20px;
      border-radius: 8px;
      flex: 1 1 calc(33.333% - 20px);
      text-align: center;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

      .img_project {
        max-width: 90%;
        margin-bottom: 15px;
      }

      h3 {
        font-family: "mestiza-sans";
        font-size: 1.5rem;
      }

      p {
        font-size: 1.05rem;
      }

      .project-link {
        display: inline-block;
        margin-top: 10px;
        color: $text-color;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        background-color: $tercetary-color;
        padding: 10px 20px;
        border-radius: 10px;

        &:hover {
          /* text-decoration: underline; */
          color: $tercetary-color;
          background-color: $cuartery-color;
          transition: 0.4s all;
        }

        i {
          font-size: 19px;
        }
      }
    }

  }
}

#portafolio {
  background-color: #f5f5f5;
  padding-top: 5em;
  padding-bottom: 5em;

  h2 {
    color: $cuartery-color;
    font-family: "mestiza-sans", sans-serif;
  }

  h3 {
    margin: 1em 0;
  }

  img {
    width: 250px;
  }

  .project-link {
    display: inline-block;
  }
}

#servicios {

  background-color: #fff;

  .front {
    .row {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;

      .col {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
      }

      h3 {
        margin: 0;
        padding: 0;
      }

      .odoologo {
        width: 200px;
        /* Ajusta según tu diseño */
      }
    }
  }

  h2 {
    font-size: "mestiza-sans", sans-serif;
  }

  img {
    width: 100px;
  }
}

#contacto {
  .contenedor_contacto {
    background-color: $secondary-color-opac;
    border-radius: 10px;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    form {
      .grupo_input {
        display: inline;
        padding: 1em;

        input {
          width: 100%;
        }
      }

      textarea {
        width: 100%;
      }

      justify-content: center;
    }
  }
}

#planes {
  h2{
    margin: 0;
  }
  h4{
    color: $cuartery-color;
  }
  .subtitulo{
    font-size: 1.6rem;
  }
  p{
    font-size:1rem;
    span{
      font-style: oblique;
      background-color: $cuartery-color;
      padding: .1em .3em;  
      color: #fff;    
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      &:hover{
        transition: all 0.4s ease-in-out;
        color: $cuartery-color;
        font-weight: 400;
        background-color: #e7e7e7;
        
      }
    }
  }

  .btn-outline {
    font-size: 1rem;
    padding: .5em 2.3em;
    border: 1px $cuartery-color solid;
    color: $cuartery-color;
    &:hover {
      background-color: $cuartery-color;
      color: white;
      transition: all 0.4s ease-in-out;
    }
  }

  .btn-solid {
    font-size: 1rem;
    padding: .5em 2.3em;
    background-color: $cuartery-color;
    color: white;
    &:hover{
      transition: all .4s ease-in-out;
      background-color: transparent;
      border: 1px solid $cuartery-color;  
      color: $cuartery-color;
    }
  }

}

/* footer */
#footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #333333;
  color: #3b3b3b;
  padding: 50px;

  .contact-section {
    padding: 0;

    .footer-brand {
      margin: 1em 0;
    }

    a,
    p,
    h4 {
      color: #696969;
      text-decoration: none;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-brand {
      font-size: 1.5rem;
      font-weight: 700;

      a {
        color: #fff;
      }
    }

    span {
      font-size: 30px;
    }

    p {
      margin: 0;
      font-size: 1rem;
    }
  }
}

footer {
  margin-top: auto;
  background-color: $secondary-color;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-bottom {
  background-color: #1a1919;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  /* Coloca los elementos en los extremos */
  align-items: center;

  /* Centra verticalmente */
  p {
    font-size: 1em;
  }

  .autor {
    margin: 0;
    padding: 0;

    a {
      color: #cf9416;
      text-decoration: none;
      /* Quita el subrayado del enlace */
    }

    .custom-icon {
      display: inline-block;
      /* Asegura que se comporte como un elemento en línea */
      width: 24px;
      /* Ajusta el tamaño según sea necesario */
      height: 24px;
      /* Ajusta el tamaño según sea necesario */
      background-image: url("../../../public/images/llama-origami.png");
      /* Ruta a tu imagen PNG */
      background-size: cover;
      background-repeat: no-repeat;
      vertical-align: middle;
      /* Ajusta la alineación vertical si es necesario */
    }
  }
}