// Variables
$primary-color: #7e3434;
$secondary-color: #1a1919;
$secondary-color-opac: #1a191962;
$tercetary-color: #d68910;
$text-color: #333;
$font-stack: "mestiza-sans", sans-serif;

body {
  font-family: $font-stack;
  color: $text-color;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* estilo lead de bootstrap */
p {
  font-size: 1.25rem;
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

header {
  background-color: $secondary-color;
  color: #fff;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  .cta-button {
    background-color: $primary-color;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

nav {
  position: sticky;
  top: 0.1px;
  width: 100%;
  background-color: $primary-color;
  text-align: center;
  padding: 10px 0;

  .navbar-nav {
    .nav-item {
      margin: 0 10px;

      .dropdown-menu {
        padding: 0;
        .dropdown-item {
          padding: 10px 15px;
          &:hover {
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
      .nav-link {
        font-size: 1rem;
      }
    }
  }
  /* ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      margin: 0 15px;

      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: $primary-color;
        }
      }
    }
  } */
}

section {
  padding: 60px 20px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
    color: $secondary-color;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .service-grid,
  .portfolio-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .service,
    .project {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #f9f9f9;
      padding: 30px 20px;
      border-radius: 8px;
      flex: 1 1 calc(33.333% - 20px);
      text-align: center;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

      .img_project {
        max-width: 90%;
        margin-bottom: 15px;
      }

      h3 {
        font-family: "mestiza-sans";
        font-size: 1.5rem;
      }
      p {
        font-size: 1.05rem;
      }

      .project-link {
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        background-color: $secondary-color-opac;
        padding: 10px 20px;
        border-radius: 10px;

        &:hover {
          /* text-decoration: underline; */
          color: $tercetary-color;
          background-color: $secondary-color;
          transition: 0.4s all;
        }
        i {
          font-size: 19px;
        }
      }
    }
  }
}
#portafolio {
  background-color: rgb(230, 230, 230);
  padding-top: 5em;
  padding-bottom: 5em;
  img {
    width: 250px;
  }

  .project-link {
  }
}
#servicios {
}
/* footer */
#footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #333333;
  color: #3b3b3b;
  padding: 50px;
  i {
    color: #696969;
  }
  .contact-section {
    padding: 0;
    .footer-brand {
    margin: 1em 0;
    }
    a,
    p,
    h4 {
      color: #696969;
      text-decoration: none;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-brand {
      font-size: 1.5rem;
      font-weight: 700;
      a {
        color: #fff;
      }
    }
    span {
      font-weight: 400;
    }
    p {
      margin: 0;
      font-size: 1rem;
    }
  }
}
footer {
  background-color: $secondary-color;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-bottom {
  background-color: #1a1919;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between; /* Coloca los elementos en los extremos */
  align-items: center; /* Centra verticalmente */
  p {
    font-size: 1em;
  }
  .autor {
    margin: 0;
    padding: 0;
    a {
      color: #cf9416;
      text-decoration: none; /* Quita el subrayado del enlace */
    }

    .custom-icon {
      display: inline-block; /* Asegura que se comporte como un elemento en línea */
      width: 24px; /* Ajusta el tamaño según sea necesario */
      height: 24px; /* Ajusta el tamaño según sea necesario */
      background-image: url("/public/images/llama-origami.png"); /* Ruta a tu imagen PNG */
      background-size: cover;
      background-repeat: no-repeat;
      vertical-align: middle; /* Ajusta la alineación vertical si es necesario */
    }
  }
}
