@media (max-width: 992px) {
  .service-grid,
  .portfolio-grid {
    flex-direction: column;
  }

  #header{
    margin-bottom: 20px;
  }
  section{
    padding: 30px 10px;
  }
  body{
    .front_header{
      display: flex;
      flex-direction: column;
    }
    h1{
      font-size: 3em;
    }
    
  }

  
  

}
