@charset "UTF-8";
body {
  font-family: "mestiza-sans", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body h1 {
  font-size: 5rem;
}

h1,
h2,
h2,
h4 {
  font-family: "mestiza-sans", sans-serif;
}

/* estilo lead de bootstrap */
p {
  font-size: 2rem;
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.background_header {
  background-image: url("../../../public/images/background.bmp");
  background-repeat: no-repeat;
  background-position: center;
  /* padding: 3em; */
}

#header {
  background-color: #fff;
  text-align: center;
}
#header .front_header {
  background-color: rgba(48, 80, 80, 0.545);
  display: block;
  color: #e7e7e7;
  padding: 5em 0;
}
#header .front_header p {
  font-size: 1.4rem;
}
#header .front_header .cta-button {
  background-color: rgba(26, 25, 25, 0.384);
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#header .front_header .cta-button:hover {
  background-color: #1c2f2f;
}
#header .front_header .cta-button a {
  text-decoration: none;
  color: #fff;
}

nav {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
}
nav .navbar-toggler {
  border: none;
  color: #333;
}
nav .navbar-toggler .navbar-toggler-icon {
  color: #333;
}
nav .navbar-nav .nav-item {
  margin: 0 10px;
}
nav .navbar-nav .nav-item .dropdown-menu {
  padding: 0;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  padding: 10px 15px;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: darkslategray;
  color: #fff;
}
nav .navbar-nav .nav-item .nav-link {
  font-size: 1rem;
}

a {
  color: #333;
}

section {
  padding: 60px 20px;
}
section h2 {
  text-align: center;
  margin-bottom: 40px;
  /* color: $cuartery-color; */
  color: #fff;
  font-size: 4em;
}
section .container {
  max-width: 1200px;
  margin: 0 auto;
}
section #desarrolloweb {
  background-color: #fff;
}
section #gestion {
  background: rgb(184, 131, 170);
  background: -moz-linear-gradient(172deg, rgb(184, 131, 170) 44%, rgb(113, 75, 103) 100%);
  background: -webkit-linear-gradient(172deg, rgb(184, 131, 170) 44%, rgb(113, 75, 103) 100%);
  background: linear-gradient(172deg, rgb(184, 131, 170) 44%, rgb(113, 75, 103) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b883aa",endColorstr="#714b67",GradientType=1);
}
section .service-grid,
section .portfolio-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
section .service-grid .service,
section .service-grid .project,
section .portfolio-grid .service,
section .portfolio-grid .project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 30px 20px;
  border-radius: 8px;
  flex: 1 1 calc(33.333% - 20px);
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
section .service-grid .service .img_project,
section .service-grid .project .img_project,
section .portfolio-grid .service .img_project,
section .portfolio-grid .project .img_project {
  max-width: 90%;
  margin-bottom: 15px;
}
section .service-grid .service h3,
section .service-grid .project h3,
section .portfolio-grid .service h3,
section .portfolio-grid .project h3 {
  font-family: "mestiza-sans";
  font-size: 1.5rem;
}
section .service-grid .service p,
section .service-grid .project p,
section .portfolio-grid .service p,
section .portfolio-grid .project p {
  font-size: 1.05rem;
}
section .service-grid .service .project-link,
section .service-grid .project .project-link,
section .portfolio-grid .service .project-link,
section .portfolio-grid .project .project-link {
  display: inline-block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #d68910;
  padding: 10px 20px;
  border-radius: 10px;
}
section .service-grid .service .project-link:hover,
section .service-grid .project .project-link:hover,
section .portfolio-grid .service .project-link:hover,
section .portfolio-grid .project .project-link:hover {
  /* text-decoration: underline; */
  color: #d68910;
  background-color: darkslategray;
  transition: 0.4s all;
}
section .service-grid .service .project-link i,
section .service-grid .project .project-link i,
section .portfolio-grid .service .project-link i,
section .portfolio-grid .project .project-link i {
  font-size: 19px;
}

#portafolio {
  background-color: #f5f5f5;
  padding-top: 5em;
  padding-bottom: 5em;
}
#portafolio h2 {
  color: darkslategray;
  font-family: "mestiza-sans", sans-serif;
}
#portafolio h3 {
  margin: 1em 0;
}
#portafolio img {
  width: 250px;
}
#portafolio .project-link {
  display: inline-block;
}

#servicios {
  background-color: darkslategray;
}
#servicios .front .row {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
#servicios .front .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
#servicios .front .row h3 {
  margin: 0;
  padding: 0;
}
#servicios .front .row .odoologo {
  width: 200px; /* Ajusta según tu diseño */
}
#servicios h2 {
  font-size: "mestiza-sans", sans-serif;
}
#servicios img {
  width: 100px;
}

#contacto .contenedor_contacto {
  background-color: rgba(26, 25, 25, 0.384);
  border-radius: 10px;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contacto .contenedor_contacto form {
  justify-content: center;
}
#contacto .contenedor_contacto form .grupo_input {
  display: inline;
  padding: 1em;
}
#contacto .contenedor_contacto form .grupo_input input {
  width: 100%;
}
#contacto .contenedor_contacto form textarea {
  width: 100%;
}

/* footer */
#footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #333333;
  color: #3b3b3b;
  padding: 50px;
}
#footer .contact-section {
  padding: 0;
}
#footer .contact-section .footer-brand {
  margin: 1em 0;
}
#footer .contact-section a,
#footer .contact-section p,
#footer .contact-section h4 {
  color: #696969;
  text-decoration: none;
}
#footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .container .footer-brand {
  font-size: 1.5rem;
  font-weight: 700;
}
#footer .container .footer-brand a {
  color: #fff;
}
#footer .container span {
  font-size: 30px;
}
#footer .container p {
  margin: 0;
  font-size: 1rem;
}

footer {
  margin-top: auto;
  background-color: #1a1919;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-bottom {
  background-color: #1a1919;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between; /* Coloca los elementos en los extremos */
  align-items: center; /* Centra verticalmente */
}
.footer-bottom p {
  font-size: 1em;
}
.footer-bottom .autor {
  margin: 0;
  padding: 0;
}
.footer-bottom .autor a {
  color: #cf9416;
  text-decoration: none; /* Quita el subrayado del enlace */
}
.footer-bottom .autor .custom-icon {
  display: inline-block; /* Asegura que se comporte como un elemento en línea */
  width: 24px; /* Ajusta el tamaño según sea necesario */
  height: 24px; /* Ajusta el tamaño según sea necesario */
  background-image: url("../../../public/images/llama-origami.png"); /* Ruta a tu imagen PNG */
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle; /* Ajusta la alineación vertical si es necesario */
}

/*# sourceMappingURL=global.css.map */
